*.rar
*.exe
*.pdf
*.psd
*.png
*.gif
*.mdf
*.ldf
MDF/
MDF2026-03-02/
MDF_NEW/
Package/
PHOTO/
BACKUP/
CardReader/
csv/
MDB/
PDF/
photo_H/
photo_I/
PHOTO_S/
photo_tmp/
PHOTO1/
xls/
Documents/

