USE [MARKET2]
GO
/****** Object:  Table [dbo].[ITEM_ALTER]    Script Date: 12/29/2010 01:55:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM_ALTER](
	[ITEM] [nvarchar](25) COLLATE Arabic_CI_AS NOT NULL,
	[ITEMSUB] [nvarchar](25) COLLATE Arabic_CI_AS NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCA] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[ROW] [int] NULL,
 CONSTRAINT [PK_ITEM_ALTER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
