USE [ALAM]
GO
/****** Object:  Table [dbo].[CUR_CODES]    Script Date: 08/13/2013 15:15:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUR_CODES](
	[CODE] [int] NOT NULL,
	[DESCA] [nvarchar](50) COLLATE Arabic_CI_AS NULL,
	[RATE] [decimal](18, 2) NOT NULL CONSTRAINT [DF_CUR_CODES_RATE]  DEFAULT ((0)),
 CONSTRAINT [PK_CUR_CODES] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
